In [1]:
import pandas as pd

In [2]:
import numpy as np

In [3]:
df=pd.read_csv('pokemon_data.csv')
df

,#,Name,Type 1,Type 2,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary
0,1,Bulbasaur,Grass,Poison,45,49,49,65,65,45,1,False
1,2,Ivysaur,Grass,Poison,60,62,63,80,80,60,1,False
2,3,Venusaur,Grass,Poison,80,82,83,100,100,80,1,False
3,3,VenusaurMega Venusaur,Grass,Poison,80,100,123,122,120,80,1,False
4,4,Charmander,Fire,NaN,39,52,43,60,50,65,1,False
...,...,...,...,...,...,...,...,...,...,...,...,...
795,719,Diancie,Rock,Fairy,50,100,150,100,150,50,6,True
796,719,DiancieMega Diancie,Rock,Fairy,50,160,110,160,110,110,6,True
797,720,HoopaHoopa Confined,Psychic,Ghost,80,110,60,150,130,70,6,True
798,720,HoopaHoopa Unbound,Psychic,Dark,80,160,60,170,130,80,6,True
799,721,Volcanion,Fire,Water,80,110,120,130,90,70,6,True

In [4]:
df.columns

Index(['#', 'Name', 'Type 1', 'Type 2', 'HP', 'Attack', 'Defense', 'Sp. Atk',
       'Sp. Def', 'Speed', 'Generation', 'Legendary'],
      dtype='object')

In [5]:
df.head()

,#,Name,Type 1,Type 2,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary
0,1,Bulbasaur,Grass,Poison,45,49,49,65,65,45,1,False
1,2,Ivysaur,Grass,Poison,60,62,63,80,80,60,1,False
2,3,Venusaur,Grass,Poison,80,82,83,100,100,80,1,False
3,3,VenusaurMega Venusaur,Grass,Poison,80,100,123,122,120,80,1,False
4,4,Charmander,Fire,NaN,39,52,43,60,50,65,1,False

In [6]:
df.tail()

,#,Name,Type 1,Type 2,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary
795,719,Diancie,Rock,Fairy,50,100,150,100,150,50,6,True
796,719,DiancieMega Diancie,Rock,Fairy,50,160,110,160,110,110,6,True
797,720,HoopaHoopa Confined,Psychic,Ghost,80,110,60,150,130,70,6,True
798,720,HoopaHoopa Unbound,Psychic,Dark,80,160,60,170,130,80,6,True
799,721,Volcanion,Fire,Water,80,110,120,130,90,70,6,True

In [7]:
df.iloc[3]

#                                 3
Name          VenusaurMega Venusaur
Type 1                        Grass
Type 2                       Poison
HP                               80
Attack                          100
Defense                         123
Sp. Atk                         122
Sp. Def                         120
Speed                            80
Generation                        1
Legendary                     False
Name: 3, dtype: object

In [8]:
df.iloc[3][2]

'Grass'

In [9]:
df.columns

Index(['#', 'Name', 'Type 1', 'Type 2', 'HP', 'Attack', 'Defense', 'Sp. Atk',
       'Sp. Def', 'Speed', 'Generation', 'Legendary'],
      dtype='object')

In [10]:
df['Name']

0                  Bulbasaur
1                    Ivysaur
2                   Venusaur
3      VenusaurMega Venusaur
4                 Charmander
               ...
795                  Diancie
796      DiancieMega Diancie
797      HoopaHoopa Confined
798       HoopaHoopa Unbound
799                Volcanion
Name: Name, Length: 800, dtype: object

In [11]:
df[['HP','Name','Attack']]

     HP                   Name  Attack
0    45              Bulbasaur      49
1    60                Ivysaur      62
2    80               Venusaur      82
3    80  VenusaurMega Venusaur     100
4    39             Charmander      52
..   ..                    ...     ...
795  50                Diancie     100
796  50    DiancieMega Diancie     160
797  80    HoopaHoopa Confined     110
798  80     HoopaHoopa Unbound     160
799  80              Volcanion     110

[800 rows x 3 columns]

In [12]:
df[(df['HP']>60)]

,#,Name,Type 1,Type 2,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary
2,3,Venusaur,Grass,Poison,80,82,83,100,100,80,1,False
3,3,VenusaurMega Venusaur,Grass,Poison,80,100,123,122,120,80,1,False
6,6,Charizard,Fire,Flying,78,84,78,109,85,100,1,False
7,6,CharizardMega Charizard X,Fire,Dragon,78,130,111,130,85,100,1,False
8,6,CharizardMega Charizard Y,Fire,Flying,78,104,78,159,115,100,1,False
...,...,...,...,...,...,...,...,...,...,...,...,...
793,717,Yveltal,Dark,Flying,126,131,95,131,98,99,6,True
794,718,Zygarde50% Forme,Dragon,Ground,108,100,121,81,95,95,6,True
797,720,HoopaHoopa Confined,Psychic,Ghost,80,110,60,150,130,70,6,True
798,720,HoopaHoopa Unbound,Psychic,Dark,80,160,60,170,130,80,6,True
799,721,Volcanion,Fire,Water,80,110,120,130,90,70,6,True

In [13]:
df[(df['HP']<50) & (df['Attack']<80)]

,#,Name,Type 1,Type 2,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary
0,1,Bulbasaur,Grass,Poison,45,49,49,65,65,45,1,False
4,4,Charmander,Fire,NaN,39,52,43,60,50,65,1,False
9,7,Squirtle,Water,NaN,44,48,65,50,64,43,1,False
13,10,Caterpie,Bug,NaN,45,30,35,20,20,45,1,False
16,13,Weedle,Bug,Poison,40,35,30,20,20,50,1,False
...,...,...,...,...,...,...,...,...,...,...,...,...
774,704,Goomy,Dragon,NaN,45,50,35,55,75,40,6,False
778,708,Phantump,Ghost,Grass,43,70,48,50,60,38,6,False
780,710,PumpkabooAverage Size,Ghost,Grass,49,66,70,44,55,51,6,False
781,710,PumpkabooSmall Size,Ghost,Grass,44,66,70,44,55,56,6,False
790,714,Noibat,Flying,Dragon,40,30,35,45,40,55,6,False

In [14]:
df['Total']=df['HP']+df['Attack']+df['Generation']+df['Defense']
df

,#,Name,Type 1,Type 2,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary,Total
0,1,Bulbasaur,Grass,Poison,45,49,49,65,65,45,1,False,144
1,2,Ivysaur,Grass,Poison,60,62,63,80,80,60,1,False,186
2,3,Venusaur,Grass,Poison,80,82,83,100,100,80,1,False,246
3,3,VenusaurMega Venusaur,Grass,Poison,80,100,123,122,120,80,1,False,304
4,4,Charmander,Fire,NaN,39,52,43,60,50,65,1,False,135
...,...,...,...,...,...,...,...,...,...,...,...,...,...
795,719,Diancie,Rock,Fairy,50,100,150,100,150,50,6,True,306
796,719,DiancieMega Diancie,Rock,Fairy,50,160,110,160,110,110,6,True,326
797,720,HoopaHoopa Confined,Psychic,Ghost,80,110,60,150,130,70,6,True,256
798,720,HoopaHoopa Unbound,Psychic,Dark,80,160,60,170,130,80,6,True,306
799,721,Volcanion,Fire,Water,80,110,120,130,90,70,6,True,316

In [16]:
df.sort_values(['HP','Attack'], ascending=[1,1])

,#,Name,Type 1,Type 2,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary,Total
316,292,Shedinja,Bug,Ghost,1,90,45,30,30,40,3,False,139
55,50,Diglett,Ground,NaN,10,55,25,35,45,95,1,False,91
139,129,Magikarp,Water,NaN,20,10,55,15,20,80,1,False,86
230,213,Shuckle,Bug,Rock,20,10,230,10,230,5,2,False,262
381,349,Feebas,Water,NaN,20,15,20,10,55,80,3,False,58
...,...,...,...,...,...,...,...,...,...,...,...,...,...
655,594,Alomomola,Water,NaN,165,75,80,40,45,65,5,False,325
351,321,Wailord,Water,NaN,170,90,45,90,45,60,3,False,308
217,202,Wobbuffet,Psychic,NaN,190,33,58,33,58,33,2,False,283
121,113,Chansey,Normal,NaN,250,5,5,35,105,50,1,False,261
261,242,Blissey,Normal,NaN,255,10,10,75,135,55,2,False,277

In [17]:
df.drop_duplicates()

,#,Name,Type 1,Type 2,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary,Total
0,1,Bulbasaur,Grass,Poison,45,49,49,65,65,45,1,False,144
1,2,Ivysaur,Grass,Poison,60,62,63,80,80,60,1,False,186
2,3,Venusaur,Grass,Poison,80,82,83,100,100,80,1,False,246
3,3,VenusaurMega Venusaur,Grass,Poison,80,100,123,122,120,80,1,False,304
4,4,Charmander,Fire,NaN,39,52,43,60,50,65,1,False,135
...,...,...,...,...,...,...,...,...,...,...,...,...,...
795,719,Diancie,Rock,Fairy,50,100,150,100,150,50,6,True,306
796,719,DiancieMega Diancie,Rock,Fairy,50,160,110,160,110,110,6,True,326
797,720,HoopaHoopa Confined,Psychic,Ghost,80,110,60,150,130,70,6,True,256
798,720,HoopaHoopa Unbound,Psychic,Dark,80,160,60,170,130,80,6,True,306
799,721,Volcanion,Fire,Water,80,110,120,130,90,70,6,True,316

In [18]:
df.drop(columns=['Total','Attack'])

,#,Name,Type 1,Type 2,HP,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary
0,1,Bulbasaur,Grass,Poison,45,49,65,65,45,1,False
1,2,Ivysaur,Grass,Poison,60,63,80,80,60,1,False
2,3,Venusaur,Grass,Poison,80,83,100,100,80,1,False
3,3,VenusaurMega Venusaur,Grass,Poison,80,123,122,120,80,1,False
4,4,Charmander,Fire,NaN,39,43,60,50,65,1,False
...,...,...,...,...,...,...,...,...,...,...,...
795,719,Diancie,Rock,Fairy,50,150,100,150,50,6,True
796,719,DiancieMega Diancie,Rock,Fairy,50,110,160,110,110,6,True
797,720,HoopaHoopa Confined,Psychic,Ghost,80,60,150,130,70,6,True
798,720,HoopaHoopa Unbound,Psychic,Dark,80,60,170,130,80,6,True
799,721,Volcanion,Fire,Water,80,120,130,90,70,6,True

In [19]:
df.describe()

,#,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Total
count,800.000000,800.000000,800.000000,800.000000,800.000000,800.000000,800.000000,800.00000,800.000000
mean,362.813750,69.258750,79.001250,73.842500,72.820000,71.902500,68.277500,3.32375,225.426250
std,208.343798,25.534669,32.457366,31.183501,32.722294,27.828916,29.060474,1.66129,68.303395
min,1.000000,1.000000,5.000000,5.000000,10.000000,20.000000,5.000000,1.00000,58.000000
25%,184.750000,50.000000,55.000000,50.000000,49.750000,50.000000,45.000000,2.00000,173.000000
50%,364.500000,65.000000,75.000000,70.000000,65.000000,70.000000,65.000000,3.00000,225.000000
75%,539.250000,80.000000,100.000000,90.000000,95.000000,90.000000,90.000000,5.00000,272.000000
max,721.000000,255.000000,190.000000,230.000000,194.000000,230.000000,180.000000,6.00000,443.000000

In [20]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 800 entries, 0 to 799
Data columns (total 13 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   #           800 non-null    int64
 1   Name        800 non-null    object
 2   Type 1      800 non-null    object
 3   Type 2      414 non-null    object
 4   HP          800 non-null    int64
 5   Attack      800 non-null    int64
 6   Defense     800 non-null    int64
 7   Sp. Atk     800 non-null    int64
 8   Sp. Def     800 non-null    int64
 9   Speed       800 non-null    int64
 10  Generation  800 non-null    int64
 11  Legendary   800 non-null    bool
 12  Total       800 non-null    int64
dtypes: bool(1), int64(9), object(3)
memory usage: 75.9+ KB

In [21]:
df['Name']

0                  Bulbasaur
1                    Ivysaur
2                   Venusaur
3      VenusaurMega Venusaur
4                 Charmander
               ...
795                  Diancie
796      DiancieMega Diancie
797      HoopaHoopa Confined
798       HoopaHoopa Unbound
799                Volcanion
Name: Name, Length: 800, dtype: object

In [25]:
df['Name'].count()

800

In [26]:
df['HP'].min()

1

In [27]:
df['HP'].max()

255

In [28]:
df.isnull().sum()

#               0
Name            0
Type 1          0
Type 2        386
HP              0
Attack          0
Defense         0
Sp. Atk         0
Sp. Def         0
Speed           0
Generation      0
Legendary       0
Total           0
dtype: int64

In [31]:
type2=df['Type 2']
type2

0      Poison
1      Poison
2      Poison
3      Poison
4         NaN
        ...
795     Fairy
796     Fairy
797     Ghost
798      Dark
799     Water
Name: Type 2, Length: 800, dtype: object